# Default ignored files
*.xml
*.class
.DS_Store
.classpath
.project
.settings
.factorypath
out/
temp/

#Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
tmp/*

# IDEA
*.ipr
*.iws
.idea
*.log
/.apt_generated/
*.iml